### Persiapan Data

#### 01. Import Library

In [227]:
# EDA
import pandas as pd
import numpy as np

In [228]:
# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [229]:
# Text Cleaning
import neattext.functions as nfx

In [230]:
# Machine Learning
# Estimators
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

# Transformers
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

#### 02. Load Data

In [231]:
# Membaca Dataset Berisi
dataset = pd.read_csv("Dataset Babak Penyisihan.csv")
dataset

     label                                              tweet
0     fear  Lebih menyeramkan kalo punya grup WA keluarga ...
1      joy  Hepibesdey canteeeekk [USERNAME] panjang umur,...
2      joy  Jumat lalu nonton inih! Selain tertarik settin...
3      joy     Nyante dulu.. Sruput kopi biar tambah bijak...
4     love  Happy annyversarry yg pertama kalinya .. Trsra...
...    ...                                                ...
5148   NaN  Aku termasuk orang yang tidak habis pikir deng...
5149   NaN  Melawan sibuk Selasamu, jangan patah semangat ...
5150   NaN  Momen di mana kamu merasa begitu mendalam terh...
5151   NaN  Tapi tentunya secara ini Bekasi ada hal-hal yg...
5152   NaN  Happy Mensive My Love makasih udh nemenin sela...

[5153 rows x 2 columns]

In [232]:
# Membuat Dataset Berisi dan Prediksi Terpisah
dataset_berisi = dataset.dropna(how = "any").reset_index(drop = True)
dataset_prediksi = dataset[dataset.isnull().any(axis = 1)].reset_index(drop = True)

#### 03. Data Cleaning

In [233]:
# Data Cleaning Column "tweet" dari dataset_prediksi
dataset_prediksi.dropna(subset = ["tweet"], inplace = True)
dataset_prediksi.reset_index(drop=True, inplace=True)
dataset_prediksi

    label                                              tweet
0     NaN  Saya taKan raguKan besarNya kasih sayang Tuhan...
1     NaN  Cc in ke cebong2 dungu... Maksd hati pengen ca...
2     NaN  Nah, yg keterlaluan adl kalo ada pjbt eselon y...
3     NaN  Melody masih membatasi diri ala member ya? Yan...
4     NaN  Rasa amarah ini membuatku merasa seperti aku a...
..    ...                                                ...
995   NaN  Aku termasuk orang yang tidak habis pikir deng...
996   NaN  Melawan sibuk Selasamu, jangan patah semangat ...
997   NaN  Momen di mana kamu merasa begitu mendalam terh...
998   NaN  Tapi tentunya secara ini Bekasi ada hal-hal yg...
999   NaN  Happy Mensive My Love makasih udh nemenin sela...

[1000 rows x 2 columns]

In [234]:
# Data Cleaning Column "tweet" dari dataset_berisi
# Stopwords (Menghapus Kata Tidak Penting, seperti a, the, dll)
dataset_berisi["teks_bersih"] = dataset_berisi["tweet"].apply(nfx.remove_stopwords)

# Menghapus Kata [USERNAME]
dataset_berisi["teks_bersih"] = dataset_berisi['teks_bersih'].str.replace(r"\[USERNAME]", "")
dataset_berisi

C:\Users\Reihan\AppData\Local\Temp/ipykernel_12312/2437288296.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset_berisi["teks_bersih"] = dataset_berisi['teks_bersih'].str.replace(r"\[USERNAME]", "")

,label,tweet,teks_bersih
0,fear,Lebih menyeramkan kalo punya grup WA keluarga ...,Lebih menyeramkan kalo punya grup WA keluarga ...
1,joy,"Hepibesdey canteeeekk [USERNAME] panjang umur,...","Hepibesdey canteeeekk panjang umur, jadi prib..."
2,joy,Jumat lalu nonton inih! Selain tertarik settin...,Jumat lalu nonton inih! Selain tertarik settin...
3,joy,Nyante dulu.. Sruput kopi biar tambah bijak...,Nyante dulu.. Sruput kopi biar tambah bijak...
4,love,Happy annyversarry yg pertama kalinya .. Trsra...,Happy annyversarry yg pertama kalinya .. Trsra...
...,...,...,...
4146,anger,sini berobat sama saya ini ngantri dokter saja...,sini berobat sama saya ini ngantri dokter saja...
4147,joy,Selamat pagi generasi Tik Tok yang kadang kepa...,Selamat pagi generasi Tik Tok yang kadang kepa...
4148,love,"Salah satu sahabat terbaik! Teman, kakak, insp...","Salah satu sahabat terbaik! Teman, kakak, insp..."
4149,anger,[USERNAME] Gila kok ada ya perempuan pikiranny...,Gila kok ada ya perempuan pikirannya malah ny...
4150,anger,[USERNAME] saya coba hubungi yg di cakung dan ...,saya coba hubungi yg di cakung dan minta di w...

### Pemrosesan Data

### Machine Learning